/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* DARK MODE */
body {
    font-family: 'Nunito', sans-serif;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 16px;
}

/* HEADER */
.navbar-container {
    color: white;
    width: 100vw;
    padding: 0 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo-container {
    display: flex;
    align-items: center;
}

header .logo-container img {
    width: 50px;
}

header .logo-container span{
    margin-left: 10px;
}

.icon-button-header {
    color: white;
    font-size: 1.4em;
    display: flex;
    align-items: center;
    gap: 70px;
}

.icon-button {
    cursor: pointer;
}

.icon-button-header #sun{
    width: 35px;
}

.icon-button-header #resetIcon{
    width: 25px;
}

/* MAIN CONTAINER */

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    width: 90%;
    height: 100vh;
}

.image-container img {
    width: 200px;
    height: auto;
}

.content-main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: red; */
}
.content-main span {
    display: block;
    font-weight: 800;
}

.content-main p {
    font-size: 2rem;
    font-weight: 600;
    margin-top: 35px;
    color: white;
}

.content-main span {
    font-size: 1.5rem;
}

/* INPUT CONTAINER */

.input-container {
    display: flex;
    align-items: center;
    background-color: #303030;
    padding: 8px;
    border-radius: 8px;
    margin-top: 24px;
    width: 100%;
}

.input-container input {
    width: 100%;
    background: transparent;
    color: white;
    flex: 1;
    padding: 8px;
    border: none;
    outline: none;
}

.input-container button {
    display: flex;
    background-color: #6D6D6E;
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.input-container #sendIcon{
    width: 25px;
}

.chat-container{
    width: 100%;
    max-height: 60vh;
    display: flex;
    flex-direction: column;
    overflow-y:auto ;
    gap:10px;
    padding: 10px;
   

}

.chat-baloes{
    max-width: 70%;
    padding: 12px;
    border-radius: 12px;
    word-wrap: break-word;
    font-size: 1rem; 
    max-width: 70%;
    
}

.mensagens-usuario{
    background-color: #05F26C;
    color: white;
    align-self: flex-end;
}

.mensagens-bot{
    background-color: white;
    color: black;
    align-self: flex-start;
}

.validat-mensagem .content-main{
    display: none;
}