/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white1: #ffffff;
    --white2: #F3F3F3;
    --gray1: #C4C4C4;
    --gray2: #6D6D6E;
    --gray3: #303030;
    --black1: #000000;
    --green: #05F26C;

}

/* DARK MODE */
body {
    font-family: 'Nunito', sans-serif;
    background-color: var(--black1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 16px;
}

/* HEADER */
.navbar-container {
    color: var(--white1);
    width: 100vw;
    padding: 0 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo-container {
    display: flex;
    align-items: center;
}

header .logo-container img {
    width: 50px;
}

header .logo-container span{
    margin-left: 10px;
    font-weight: 700;
}

.icon-button-header {
    color: var(--white1);
    font-size: 1.4em;
    display: flex;
    align-items: center;
    gap: 70px;
}

.icon-button {
    cursor: pointer;
}

.icon-button-header #sun{
    width: 35px;
}

.icon-button-header #resetIcon{
    width: 25px;
}

/* MAIN CONTAINER */

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    width: 90%;
    height: 100vh;
}

.image-container img {
    width: 200px;
    height: auto;
}

.content-main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: red; */
}
.content-main span {
    display: block;
    font-weight: 800;
}

.content-main p {
    font-size: 2rem;
    font-weight: 600;
    margin-top: 35px;
    color: var(--white1);
}

.content-main span {
    font-size: 1.5rem;
}

/* INPUT CONTAINER */

.input-container {
    display: flex;
    align-items: center;
    background-color: var(--gray3);
    padding: 8px;
    border-radius: 8px;
    margin-top: 24px;
    width: 100%;
}

.input-container input {
    width: 100%;
    background: transparent;
    color: var(--white1);
    flex: 1;
    padding: 8px;
    border: none;
    outline: none;
}

.input-container button {
    display: flex;
    background-color: var(--gray2);
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.input-container #sendIcon{
    width: 25px;
}

#sendButton {
    background-color: var(--gray2);
}
#sendButton:hover {
    background-color: var(--green);
}

/* LIGHT MODE */

.lightModeText {
    color: var(--black1) !important;
}
.lightModeBG {
    background-color: var(--white1);
}
.lightModeInput {
    background-color: var(--white2);
}
.lightModeTextInput {
    color: var(--black1) !important;
}